{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
    <title>Blog | {{ file.title }}</title>
{% endblock head %}
{% block body %}
    <h1>{{ file.title }}</h1>
    {{ file.content }}

{% endblock body %}
