{% extends "base.html.jinja" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/photos/style.css">
<title>Events</title>
{% endblock head %}
{% block body %}
<main>
    <h1>Events</h1>
    <div id="event-container">
    {% for event in collection.events %}
        <div class="event-item">
            {# <img src="{{ event.image_src }}" alt="{{ event.image_alt }}"> #}
            <h2>{{ event.title }}</h2>
            <p>{{ event.date }} at {{ event.location }}</p>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock body %}