{% extends "base.html.jinja" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/photos/style.css">
<title>MY PHOTOS</title>
{% endblock head %}
{% block body %}
<main>
    <h1>Photo Catalog</h1>
    <div id="image-container">
    {% for photo in collection.photo_details %}
        <div class="image-item">
            <img src="{{ photo.src }}" alt="{{ photo.alt }}" />
            <p>{{ photo.caption }}</p>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock body %}