main {
    margin: 0 auto;

    max-width: 900px;
}

#image-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 0.5em;
}

.image-item > img {
    display: block;

    width: 100%;
}